/* ----------------- TOP BAR ---------------*/
.top-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 48px;
	background: rgba(219, 239, 255, 0.8);
	background: var(--btn-bg);
	display: flex;
	z-index: 2000;
}

.top-bar .logo {
	flex-basis: 43px;
	padding: 0;
	cursor: pointer;
}

.top-bar .title {
	flex-basis: 100%;
	align-content: flex-start;
	display: flex;
}

.top-bar .title img {
	height: 24px;
	margin: auto;
}

.top-bar .container {
	display: flex;
	align-items: center;
}

.top-bar h1 {
	font-family: 'Righteous';
	font-size: 2rem;
	padding: 0;
	margin: 0;
	color: var(--btn-hover-color);
}

.top-bar .menu {
	flex-basis: 43px;
	color: var(--btn-hover-color);
	cursor: pointer;
}

/* ----------------- BOTTOM-BAR ----------- */
.bottom-bar {
	display: flex;
	justify-content: center;
	margin: 4rem 0;
}

.bottom-bar * {
	align-items: center;
}

.bottom-bar button img {
	margin: 0 0.5rem 0 0;
	width: 1rem;
}

/* ---------------- POST LIST ------------------ */
.pst-list {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	margin: 0 0 1rem 0;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 0 20px rgba(128, 128, 128, 0.15);
	border-radius: 5px;
	background: #ffffff;
}

.pst-list-content {
	width: 100%;
}

/* -------------------- NEW    -------------- */
.pst-new {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.pst-new .pst-list-media {
	display: none;
}

.pst-new .pst-list-content {
	cursor: auto;
}
.pst-new .pst-list-content:hover {
	color: var(--pst-content-color);
}

/* -------------------- HEADER -------------- */
.pst-list-header {
	display: flex;
	padding: 0 0 0.3rem 0;
}

.pst-list-header span {
	color: var(--pst-link);
}

.pst-list-header time {
	font-weight: 400;
	font-size: 0.8rem;
	color: var(--pst-published);
}

/* ---- HEADER AVATAR ---- */
.pst-list-header-avatar {
	flex-basis: 43px;
	margin: 0 0.5rem 0 0;
	cursor: pointer;
}

.pst-list-header-avatar img {
	transition: 0.2s;
	width: 100%;
	border-radius: 50%;
}

/* .pst-list-header-avatar:hover img {
	transform: scale(1.05);
} */

/* ---- HEADER INFO ---- */
.pst-list-header-info {
	flex-basis: 100%;
	cursor: pointer;
}

.pst-list-header-info h2 {
	font-size: 1.1rem;
	margin: 0;
	padding: 0;
}

/* ---- HEADER LINK ----*/
.pst-list-header-link {
	flex-basis: 32px;
	cursor: pointer;
}
.pst-list-header-link:hover {
	color: var(--pst-link);
}

/* -------------------- MEDIA -------------- */
.pst-list-media {
	width: 100%;
	padding: 0;
	height: calc(200% / 1.7);
	margin: 0.5rem auto;
	background: var(--pst-media-bg);
}

.pst-list-media iframe {
	filter: blur(8px);
	border-radius: 5px;
}
.pst-list-media iframe.on {
	filter: none;
}

/* -------------------- CONTENT ------------- */
.pst-list-content {
	transition: 0.5s;
	color: var(--pst-content-color);
	font-size: 0.9rem;
	cursor: pointer;
}
.pst-list-content:hover {
	color: var(--html-color);
}

/* -------------------- STATUS -------------- */
.pst-list-status i {
	font-size: 1.1rem;
}

.pst-list-status {
	display: flex;
	color: #657766;
	font-size: 0.9rem;
	padding: 0.5rem 0;
	margin: 0.5rem 0 0 0;
}

.pst-list-status span {
	min-width: 24%;
	padding: 0 0.5rem;
}

.pst-list-status div {
	transition: 0.6s;
	width: 100%;
	cursor: pointer;
	display: inline-flex;
}

.pst-list-status div:last-child {
	display: inline-block;
	text-align: center;
}

.pst-list-status div:last-child i {
	float: right;
	margin: 0 0 0 0.5rem;
}

.pst-list-status div:hover {
	opacity: 1;
	color: #e91e63;
}

.pst-list-status div:last-child button {
	float: right;
}
